.page {
    height: 100vh;
    background: linear-gradient(135deg, #a8dcff, #d4ecff);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
}

.card {
    width: 100%;
    max-width: 1200px;
    height: 600px;
    background: white;
    border-radius: 24px;
    border: 1px solid #eaeaea;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.08);
    display: flex;
    overflow: hidden;
}

.left {
    width: 50%;
    background: #f4f8ff;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.left h2 {
    font-size: 26px;
    margin-bottom: 30px;
}

.image-box {
    background: #1e90ff;
    border-radius: 20px;
    padding: 20px;
    display: flex;
    justify-content: center;
}

.image-box img {
    width: 240px;
}

.stats {
    margin-top: 20px;
    display: flex;
    gap: 15px;
}

.stats span {
    background: white;
    padding: 8px 14px;
    border-radius: 10px;
    font-size: 13px;
}


.right {
    width: 50%;
    padding: 50px;
    display: flex;
    flex-direction: column;
}

.brand {
    margin-bottom: 20px;
}


.tabs {
    display: flex;
    gap: 20px;
    margin-bottom: 30px;
}

.tab {
    padding: 14px 40px;
    border-radius: 12px;
    border: none;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;

    background-color: #1e90ff;
    color: white;
    box-shadow: none;
}


.tab:hover {
    background-color: #2f80ed;
    transform: translateY(-2px);
    box-shadow: 0 6px 15px rgba(47, 128, 237, 0.3);
}



.login-text {
    margin-bottom: 25px;
}

.login-text p {
    color: #666;
    font-size: 14px;
}

/* FORM */
.form {
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.field {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.field input {
    padding: 12px;
    border-radius: 8px;
    border: 1px solid #ccc;
}

.reset {
    font-size: 13px;
    color: #1e90ff;
    text-align: right;
    margin-top: 5px;
    text-decoration: none;
}

.login-btn {
    margin-top: 10px;
    padding: 14px;
    background: #1e90ff;
    border: none;
    border-radius: 10px;
    color: white;
    font-size: 16px;
    cursor: pointer;
}
.login-btn:hover {
    background-color: #2f80ed;
    transform: translateY(-2px);
    box-shadow: 0 6px 15px rgba(47, 128, 237, 0.3);
}

/* CODE LOGIN */
.code-login {
    margin-top: 20px;
    text-align: center;
    font-size: 14px;
    color: #1e90ff;
    text-decoration: none;
}
